// font-family: 'Montserrat', sans-serif;
// font-family: 'Tilt Neon', cursive;
// font-family: 'Tilt Warp', cursive;

* {
//border: 1px solid red;
margin: 0;
padding: 0;
}


// ---------------------------------------------------------------------
// ############################## HEADER ########################
// ---------------------------------------------------------------------

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(249, 241, 233);
    padding: 20px 0 20px 0;
}

.toggle-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background-color: rgb(228, 208, 189);
    z-index: 10;
}

.fa-circle-half-stroke {
    color: rgb(70, 46, 46);
    font-size: 1.7rem;
    z-index: -1;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

header a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Tilt Warp', cursive;
    color: rgb(70, 46, 46);
}

header a:hover {
    color: rgb(109, 139, 58);
    text-decoration: overline;
}

header a:active {
    color: rgb(209, 141, 45);
    text-decoration: overline;
}

// ---------------------------------------------------------------------
// ############################## HERO SECTION ########################
// ---------------------------------------------------------------------

body {
    background-color: rgb(247, 247, 247);
}

.hero {
    max-width: 900px;
    margin: auto;
    background-image: url("../images/hero-bg.jpg"); //Photo by Josefin on Unsplash: href="https://unsplash.com/@josefin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    background-color: rgb(149, 180, 129);
    display: flex;
    justify-content: center;
}

.hero p {
    margin: 30px;
    padding: 30px;
    color: rgb(50, 107, 24);
    background-color: rgba(240, 248, 255, 0.444);
    font-size: 2rem;
    font-family: 'Tilt Neon', cursive;
    text-align: center;
    display: block;
}

// ---------------------------------------------------------------------
// ############################## PLANT SECTIONS ########################
// ---------------------------------------------------------------------

.plant-sections-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flowering-section, .succulents-section, .tropical-section {
    max-width: 900px;
    background-color: rgba(197, 210, 196, 0.458);
}

.plant-section-h1 {
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: 'Tilt Warp', cursive;
    color: rgb(70, 46, 46);
    text-align: center;
}


.plant-section-p {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.plant-section-fig {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.plant-section-fig img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(55, 55, 55, 0.492);
}

// ---------------------------------------------------------------------
// ############################## FOOTER ########################
// ---------------------------------------------------------------------

footer {
    display: flex;
    justify-content: center;
    font-family: 'Tilt Neon', cursive;
    padding: 30px;
    background-color: rgb(247, 247, 247);
    text-decoration: overline;
}

// ---------------------------------------------------------------------
// ################################ DARK MODE ##########################
// ---------------------------------------------------------------------

.header-dark-mode {
    background-color: rgb(109, 94, 94);
    color: antiquewhite;
}

.header-dark-mode a {
    color: antiquewhite;
}

.header-dark-mode .toggle-button {
    background-color: rgb(80, 69, 69);
}

.header-dark-mode .fa-circle-half-stroke {
    color: antiquewhite;
}  

.header-dark-mode figure {
    padding: 10px;
}

.header-dark-mode img {
    background-color: rgba(250, 235, 215, 0.474);
    border-radius: 70px 5px 5px 5px;
    padding: 15px;
}

.header-dark-mode a:hover {
    color: rgb(188, 219, 139);
    text-decoration: overline;
}

.header-dark-mode a:active {
    color: rgb(248, 194, 117);
    text-decoration: overline;
}

.body-dark-mode {
    background-color: rgb(67, 60, 60);
}

.text-dark-mode {
    color: rgb(255, 247, 237);
}

.footer-dark-mode {
    background-color: rgb(67, 60, 60);
    color: rgb(255, 247, 237);
}

// ---------------------------------------------------------------------
// ############################## MEDIA QUERIES ########################
// ---------------------------------------------------------------------

@media only screen and (min-width: 800px) {
    header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    header ul {
    padding-right: 50px;
    gap: 40px;
    }

    .logo {
    padding: 25px 25px 25px 70px;
    }

    .header-dark-mode img {
        margin-left: 45px;
    }
   
    .plant-section-h1 {
        font-family: 'Tilt Warp', cursive;
        color: rgb(70, 46, 46);
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .plant-section-p {
        font-size: 1.1rem;
        padding: 50px;
    }
}

